.underline {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 40px;
    z-index: -1;
    background: #f3f4f6;
    border-radius: 10px;
}
.selected{
    color: black;
    font-weight: bold;
}