.underline {
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 40px;
    z-index: 0;
    background: #efefef;
  border-radius: 40px;
}
.selected{
    color: black !important;
    font-weight: 600;
}