
@font-face {
  font-family: 'spoqa-han-sans';
  src: url("fonts/SpoqaHanSansNeo-Bold.otf") format("opentype");
  font-weight: bold;
}@font-face {
  font-family: 'spoqa-han-sans';
  src: url("fonts/SpoqaHanSansNeo-Medium.otf")format("opentype");
  font-weight: 600;
}@font-face {
  font-family: 'spoqa-han-sans';
  src: url("fonts/SpoqaHanSansNeo-Regular.otf")format("opentype");
  font-weight: 500;
}@font-face {
  font-family: 'spoqa-han-sans';
  src: url("fonts/SpoqaHanSansNeo-Light.otf")format("opentype");
  font-weight: 300;
}@font-face {
  font-family: 'spoqa-han-sans';
  src: url("fonts/SpoqaHanSansNeo-Thin.otf")format("opentype");
  font-weight: 200;
}
@font-face {
  font-family: "Google Sans Display";
  src: url("fonts/GoogleSansDisplay-Regular.ttf");
  font-weight: normal;
}@font-face {
  font-family: "Google Sans Display";
  src: url("fonts/GoogleSansDisplay-Bold.ttf");
  font-weight: bold;
}@font-face {
  font-family: "Google Sans Display";
  src: url("fonts/GoogleSansDisplay-Medium.ttf");
  font-weight: 600;
}
* {
  font-family: 'Google Sans Display','spoqa-han-sans', sans-serif;
  font-style: normal;
  margin: 0;
  word-break: keep-all;
  -webkit-tap-highlight-color: transparent;

}
html {
  background: white !important;
  font-size: 10px;
}
a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
.active{
  color: #42A5F5 !important;
}
.active:hover{
  color: #42A5F5;
}


